.card-menu {
    position: fixed;
    top: 2em;
    left: 2em;
    width: 30em;
    word-wrap: break-word;
}

.card-content {
    cursor: move;
}

.card-performance {
    border-radius: 2px;
    width: 14em;
    position: fixed;
    top: 2em;
    right: 2em;
    word-wrap: break-word;
}

.card-performance .collection {
    margin-bottom: 0;
}

.light-theme .card-menu, .light-theme .card-performance {
    -webkit-box-shadow: 0px 2px 5px 1px rgba(96, 125, 139, 0.74);
    -moz-box-shadow: 0px 2px 5px 1px rgba(96, 125, 139, 0.74);
    box-shadow: 0px 2px 5px 1px rgba(96, 125, 139, 0.74);
}

.button-container button {
    margin-left: 1em;
}

#collapsible-icon {
    padding-top: .2em;
}

.collapsible,
.collapsible-header {
    border: none;
}

.collapsible-body>p {
    margin-bottom: .5em;
}

.collapsible>li.active>.collapsible-header {
    border-bottom: 1px solid #ddd;
}

.label {
    font-size: .8rem;
}

input[type="file"] {
    display: none;
}

#spinner-container {
    padding: 1.72em 0;
}