.card {
    position: fixed;
    top: 2em;
    left: 2em;
    width: 30em;
    word-wrap: break-word;
}

.card-content {
    cursor: move;
}

.instruction-header button {
    margin-left: 1em;
}

#collapsible-icon {
    padding-top: .2em;
}

.collapsible,
.collapsible-header {
    border: none;
}

.collapsible-body>p {
    margin-bottom: .5em;
}

.collapsible>li.active>.collapsible-header {
    border-bottom: 1px solid #ddd;
}

.label {
    font-size: .8rem;
}

.light-theme .label {
    color: #9e9e9e !important;
}

.light-theme .dropdown-trigger {
    color: #cfd8dc !important;
}

.light-theme .dropdown-content {
    background-color: #546e7a !important;
}

.light-theme .dropdown-content>li>span {
    color: #cfd8dc !important;
}

.card-performance {
    border-radius: 2px;
    width: 14em;
    position: fixed;
    top: 2em;
    right: 2em;
    word-wrap: break-word;
}

.card-performance .collection {
    margin-bottom: 0;
}